@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
 
 body {
    font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,var(--nv-fallback-ff);
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    color: var(--nv-text-color);
    line-height: 1.68421;
    overflow-x: hidden;
}
.dnone{display:none;}	
.navbar-brand{text-align:center;}
.navbar-brand img{width:55px;}
.navbar .nav-link {font-family: "Metropolis", Sans-serif;font-size: 15px;background-color: #FFFFFF;color: #000000;padding: 23px 15px 23px 15px !important;}
.navbar .nav-link:hover, .navbar .active .nav-link{color: #707070; background-color: rgba(0, 0, 0, 0.02);}
.navbar .dropdown .submenu{box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 11%); padding: 5px; display:flex; background-color:#fff; position: absolute; transform: translateY(-10px);}
.navbar .dropdown .submenu li{list-style-type:none; padding: 13px 20px;background-color: #FFFFFF;}
.navbar .dropdown .submenu li:hover{background-color:#7f7f7f;}
.navbar .dropdown .submenu li:hover a{color:#fff;}
.navbar .dropdown .submenu .active {background-color:#7f7f7f;}
.navbar .dropdown .submenu .active a{color:#fff;}
.navbar .dropdown .submenu li a{font-family: "Metropolis", Sans-serif;font-size: 13px;color: #000000; text-decoration:none;white-space: nowrap; background-color: #fff0 !important;}
.navbar .dropdown:hover .submenu-none{display:block; transition: transform .4s ease,-webkit-transform .4s ease;}
.navbar .dropdown .submenu-none{display:none;}
header{background-color: #fff;position: fixed;width: 100%; z-index:9;}
.bookus{background-color:#ed5371; border-radius:5px; color:#fff; text-decoration:none; padding: 5px 10px 5px 10px; font-size:13px; margin-left:3%;}
.bookus:hover{text-decoration:none; color:#fff;}
.main-section{background-color:#fffcf7;}
.lftbig-img img{width:100%; height:416px; object-fit: cover;}
.lftsmall-img img{width:100%; padding-top:6%; height:198px; object-fit: cover;}
.main-section .container-fluid{padding-top:12%; padding-bottom:10%;}
.rgt-content{    border-style: solid;border-width: 1px 1px 1px 1px;border-color: #f7f6d7; background-color:#fff;box-shadow: 
0px 0px 5px 0px rgb(0 0 0 / 11%);transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;text-align:center; padding: 22% 5% 21% 5%;}
.rgt-content p{color: #7a7a7a;font-family: "Metropolis", Sans-serif;font-size: 14px;line-height: 1.6em;letter-spacing: 0px;padding:10% 8% 0% 8%;}
.con-heading h1{color: rgba(226,70,109,0.91);font-family: "Butler";font-size: 3rem;font-weight: bold;text-transform: uppercase;} 
.rgt-content:hover{box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 17%);}
footer{background-color:#f9f9f9; padding-top:5%; padding-bottom:5%;}
footer ul li{list-style-type:none; padding: 8px 0px; transition: transform .4s;}
footer ul li:hover{transform: scale(1.2);}
footer ul li a{color: #3F3F3F;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
	font-family: "Metropolis", Sans-serif;
    font-size: 14px;
	}
footer ul{padding-left:0px;}
footer ul li a:hover{text-decoration:none; color:#777;}
footer .fotheading h2{color: #3F3F3F;
    font-family: "Butler";
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;}
footer p a{color:#3F3F3F;}
footer p a:hover{text-decoration:none;}
footer .line{    border-bottom: 1px solid;
    width: 54px;
    color: #ed5371;
	margin-bottom:15px;}
.copyright img{width: 24px; height: 18px; margin-bottom: 5px;}
.copyright p{text-align:center; color: #7A7A7A;
    font-family: "Metropolis", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;}
.social{text-align:center;}
.social a{color:#fff; padding-right: 10px;
    font-size: var(--icon-size,12px);
    line-height: var(--icon-size,21px);
    width: calc(var(--icon-size, 22px) + (2 * var(--icon-padding, .5em)));
    height: calc(var(--icon-size, 22px) + (2 * var(--icon-padding, .5em)));}	
.social .fa-facebook{ background-color: #3b5998;
    border-radius: 30px;
    width: 20px;
    height: 20px;}
.social .fa-instagram{ background-color: #262626;
    border-radius: 30px;
    width: 20px;
    height: 20px;}
.social .fa-youtube{ background-color: #cd201f;
    border-radius: 30px;
    width: 20px;
    height: 20px;}
.social .fa-linkedin{ background-color: #0077b5;
    border-radius: 30px;
    width: 20px;
    height: 20px;}
.social .fa-twitter{ background-color: #1da1f2;
    border-radius: 30px;
    width: 20px;
    height: 20px;}	
.social .fa-pinterest-p{ background-color: #1da1f2;
        border-radius: 30px;
        width: 20px;
        height: 20px;}	
@font-face {
  font-family: 'Butler';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/ButlerStencil-Medium.woff2");
  src: url("./fonts/ButlerStencil-Medium.woff2") format("woff2"); }
  @font-face {
  font-family: 'Fauna One';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/FaunaOne-Regular.ttf");
  src: url("./fonts/FaunaOne-Regular.ttf") format("ttf"); }
/*corprate*/
.corporatesec{background-image:url(../images/wedding-decors/corprate/corpratemain.webp); width: 100%;}
.bookus-section{background-image:url(../images/bookus/bookusm.webp); width: 100%;}
.contactus-section{background-image:url(../images/contact.webp); width: 100%;}
.faq-section{background-image:url(../images/faq.webp); width: 100%;}
.corporatesecsep{background-image:url(../images/corporate/p.webp); width: 100%;}
.aboutus{background-image:url(../images/about/a.webp); width: 100%;}
.bottomsec{background-image:url(../images/about/b.webp); width: 100%; padding: 50px 50px 50px 50px;}
.blogsection{background-image:url(../images/blog/b.webp); width: 100%;}
.gallerysec{background-image:url(../images/gallery/g.webp); width: 100%;}
.babysho{background-image:url(../images/wedding-decors/baby-shower/banner.webp); width: 100%;}
.sangeet{background-image:url(../images/wedding-decors/sangeet&mehandi/banner.webp); width: 100%;}
.birthday{background-image:url(../images/wedding-decors/birthdayfunction/banner.webp); width: 100%;}
.engagement{background-image:url(../images/wedding-decors/engagement/banner.webp); width: 100%;}
.housewarm{background-image:url(../images/wedding-decors/hbanner.webp); width: 100%;}
.marriage{background-image:url(../images/wedding-decors/marriage/banner.webp); width: 100%;}
.reception{background-image:url(../images/wedding-decors/reception/banner.webp); width: 100%;}
.videosecmain{background-image:url(../images/video/banner.webp); width: 100%;} 
.breadgrum-section{
    height: 100%;
    background-position: 50%;
    -webkit-background-size: cover;
    background-size: cover;
	height: 365px;}
.bgoverlay{background-color: rgba(0,0,0,0.91);
    opacity: 0.65;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;    position: absolute;
    height:365px;
    top: 0px;
    width: 100%;}	
.bread-heading{text-align:center; color:#fff; padding:10% 5%;}
.bread-heading{font-family: "Butler";
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;}
.container-fluid-container{ width: 100%;
    padding-right: 107px;
    padding-left: 107px;
    margin-right: auto;
    margin-left: auto;}
.sub-content p{padding:10px 0px; text-align: center;}
.galimg img{width: 100%;
    height: 250px;object-fit: cover;}	
.tabcntr{text-align: center;
    margin: 0 auto;
    display: table; margin-bottom:3%;}	
.tabcntr .nav-tabs{border-bottom:0px;}
.tabcntr .nav-tabs a{color: #292929;
    font-weight: 600;
    font-family: "bulter", sans-serif;
    padding: 10px 10px 10px 10px;}
.divider{border-bottom: 2px dashed #000; width: 70%; margin: 4% auto;}	
footer .col-lg-2 p{font-size:13px;}
.testimonialheading p span{    margin: 0px 0px 35px 0px;
    padding: 0.35em 0.65em 0.38em 0.65em;
    background-color: #212529;
    border-radius: 6px 6px 6px 6px;
    width: 112px;
    color: #ffffff;
    text-align: center;}
.testimonialheading p{text-align:center; margin-bottom: 3%;}
.testimonialheading h2{color: #212529;
    font-family: "Karla", Sans-serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 1.15em;
letter-spacing: -3px;
text-align:center;margin-bottom:3%;}
.testimonial .carousel-inner{text-align:center; }
.testimonial .carousel-inner img{width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
	margin-bottom: 2%;}	
.testimonial .carousel-indicators li{background-color: #000;}	
.testimonial .carousel-indicators {
position: inherit;}
.testimonial .fa-chevron-left, .testimonial .fa-chevron-right{color:#777;}
.testicon{padding-left: 15%;
    padding-right: 15%;}
.bookingheading h1{color: #54595f;
    font-family: "Fauna One";
    font-size: 72px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 1em;}
.booking{text-align:center; padding-bottom:3%;}
.borsty{border-bottom: 2px dashed #ed5371;
    margin: 0 auto;
    width: 65px;
    margin-bottom: 3%;}	
.bookingheading h2{color: rgba(0, 0, 0, 0.85);
    font-family: "Butler";
    font-size: 30px;
    font-weight: 400;
	margin-bottom:2%;}	
.form-controlcus{background-color: #7A7A7A;
    border-color: rgba(0,0,0,0);
    border-radius: 5px 5px 5px 5px;
	font-size: 16px;
    min-height: 47px;
    padding: 6px 16px;
	width:100%;
	color: #fff !important;}	
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.btn-pink{background-color: #ed5371;
    color: #fff;
    width: 100%;}	
button:focus{outline: 0px auto -webkit-focus-ring-color;}
button:active{border-style:"none;"}
.checkbx{margin-bottom:3%;}
.bookusimg img{width:100%; margin-bottom:3%;}
.txtcenter{text-align:center;}
.con-icon i{color: #ed5371;
    font-size: 45px;}
.faqheading h2{color: #54595f;
    font-family: "Butler";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2em;}
.faqheading p, .accordion p{color: #0c0c0c;
    font-family: "Metropolis", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;}	
.accordion .card-header:after {
    font-family: "Font Awesome 5 Free" !important; 
	font-weight: 900;
	content: "\f05a";
	float:right;
	color: #7a7a7a;
	font-size:12px;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f078";
	float:right;
	color: #7a7a7a;
}
.card, .card-header{border:0px; background-color: rgb(0 0 0 / 0%);}
.card-header{border-bottom: 1px solid rgba(0,0,0,.125) !important;}
.accordion	a{color: #7a7a7a;font-family: "Butler";
    font-size: 18px;
    font-weight: 400;}
.pt-30{padding-top:30px;}
.pb-50{padding-bottom:50px;}
#demohome img{height:590px; object-fit:cover;}
#demohome .carousel-indicators li{background-color: #ffaabb;}
#demohome .fas{color: #ed5371;font-size: 30px;}
.heading{text-align:center; padding: 20px 10px;}
.heading img{width: 8%; max-width: 11%;}
.heading h2{color: #5b5b5b;
    font-family: "Butler";
    font-size: 30px;
    font-weight: 400;}
.container-fluid-container-home{padding-left: 80px;padding-right: 80px;}
.lftimage img{width:100%; height:500px; border-radius:15px; object-fit: cover;}
.rgtheading h2{color: #54595f;
    font-family: "Butler"; 
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2em;}
.rgtheading p{color: #0c0c0c;
    font-family: "Metropolis", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;}
.rgtcnt{box-shadow: 0px 2px 23px 4px rgb(0 0 0 / 23%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 40px 4px 40px -75px; border-radius:10px; background-color:#fff; position:relative;
padding: 2em 2em 2em 2em;}
.thumbnail img{width:100%; height:75px; object-fit:cover;}
.explorebtn{font-family: "Metropolis", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #62650a;
    padding: 12px;
    color: #fff;}
.explorebtn:hover{text-decoration:none; color:#fff;}
.minislider .carousel-indicators li{background-color:#ed5371;}
.minislider .carousel-indicators{top:95px;}
.minislider .carousel-control{position:absolute; margin-top:0%; color:#000; font-size:43px;}
.minislider .left{left:2px;}
.minislider .right{right:2px;}
a:hover{text-decoration:none;}		
.homepage .pb-50{padding-bottom:80px;}
.smallclr{color:#ccc;}
.video-section{background-color:#fdfdfd;}
.video-section .carousel-indicators{position:relative; margin-right: 0%; z-index: 0;
    margin-left: 0%;}
.video-section .carousel-indicators li{width: 21%; height: 163px;}
.w-110{width:100%; height:131px; object-fit: cover;}
.videoplaybtn {
    position: absolute;
    z-index: 9;
    color: #fff;
    margin: 0 auto;
    top: 34%;
    text-align: center;
    margin-left: 45%;
font-size: 93px;}
.justsendus{background-color:#262626; padding-top:20px; padding-bottom:50px;}
.justsendus h2{color:#fff;}
.justsendus .form-controlcus{background-color: #fbfbfb; color: #000 !important;}
.elementor-shape-top{color: #fff;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: rtl;
	margin-top: 50px;}
.elementor-shape-bottom{overflow: hidden;
	margin-top: -20px;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;}
.elementor-shape-fill{fill:#fff; transform: rotateY(0deg);}
.elementor-shape-fill1{fill:#000; transform: rotateY(0deg); transform-origin: center;}
.justsendusmain{background-color:#fdfdfd;}
.eventplanner p{font-size:12px;}
.eventplanner .explorebtn{background-color: #54595F;}
.conhead{padding-top: 164px;}
.conhead h1{font-size: 30px;
    font-family: Butler;
    outline-style: initial;
    outline-width: 0px;
    color: rgb(91, 91, 91);
	padding-top:30px;}		
.wepgal img{width:100%;}
.pt-60{padding-top:315px;}
.wepgalp{padding:10px;}
.videosec iframe{border-radius:25px;}
.searchimg img{width:100%;}
.relatedsearch h3 a{color:#000; font-weight: 500;}
.relatedsearch p{font-size:12px;}
.explorebtn1{font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    background-color: #54595f;
    border-style: solid;
    border-width: 0px 1px 4px 1px;
    border-color: #54595f;
    padding: 15px 40px 13px 40px;
	color:#fff;}
.explorebtn1:hover{border-color: #ed5371; color:#fff;}	
a:hover{text-decoration:none;}
	a{color:#000;}
	.abouthead h2{color: #5b5b5b;
    font-family: "Butler";
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;}
	.pt-75{padding-top:75px;}
h1{font-family: "Butler";}
.oursuc h2{    color: rgba(84,89,95,0.74);
    font-family: "Metropolis", Sans-serif;
    font-size: 40px;
    font-weight: 400;}
.oursuc p{    color: rgba(84,89,95,0.74);
    font-family: "Metropolis", Sans-serif;
    font-size: 16px;
    font-weight: 600;}
.bgwhite{background-color: rgba(255,234,226,0.38); background-color: #ffffff; transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 50px 50px 50px;}
.heading1 h3{font-size: 17px;     text-transform: none;
    letter-spacing: 0;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,var(--nv-fallback-ff);    
    margin-top: .8rem;
    font-weight: 600;}
.heading1 small{line-height: 1.3em;
    font-size: 12px;
    margin-bottom: 13px;
    color: #adadad;}
.relatedsearchblog p{    margin: 0;
    line-height: 1.5em;
    font-size: 14px;
    color: #777;}
.readmore{
	padding-top:20px;
	font-size: 12px;
    font-weight: 700;}
.blogse .col-lg-4{height:450px;}
.blogse .searchimg img{height:230px;}
.gallery-tabs .nav-tabs li .active{border:1px solid #000;}
.tabcntr li{margin-bottom:10px;}
.pt-90{padding-top:90px;}
.heading2 h1{text-transform: none;
    letter-spacing: 0;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,var(--nv-fallback-ff);
    line-height: 1.68421;
    margin-bottom: .8rem;
    font-weight: 600;
	font-size:2em;}	
.borrl{border-right:1px solid #ededed;} 
.borbot{border-bottom:1px solid #ededed; padding-top:15px;}
.fright{float:right;}
.sidebar p{margin-bottom:0rem;}	
.sidebar p a{color: #8e8e8e;
line-height: 2;}
.pb-20{padding-bottom:20px;}
.justsendus, .booking{display:none;}
.video-sep-one{padding-top:61px;}
.vidclose{background-color: #ed5371 !important;
    position: absolute;
    right: 28px;
    margin-top: 6px;
    opacity: 1 !important;
    border-radius: 100px;
    padding: 2px 5px 1px 5px !important;}
    .fa-play-circle{color:#fff !important;}
/*search bar css*/

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    transition: width 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background: white;
}

/* Search Input (Initially Hidden) */
#search-box {
    width: 0;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    transition: width 0.3s ease-in-out;
}
/* Search Button */
#search-btn {
    background: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

/* Expand input field when active */
.search-container.active {
    width: 200px;
}

.search-container.active #search-box {
    width: 150px;
}